.wrapper {
  display: flex;
}

.side-bar {
  background-color: #d2ffd2;
  width: 300px;
  height: 100vh;
}

.side-bar-header {
  height: 100px;
  padding: 20px;
  background-color: #b0ffb0;
  display: block;
  justify-content: space-between;
  align-items: center;
}

.side-bar-header li {
  margin: 5px;
}

.header-name {
  display: flex;
  list-style: none;
}

.parks {
  padding: 25px;
  overflow: scroll;
}

.park {
  display: none;
  padding: 0 20px;
  list-style: none;
}

.login-list {
  display: flex;
  list-style: none;
}

.create-park {
  padding: 20px;
}

.parks-new-form {
  padding-left: 50px;
}

.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.park-show {
  overflow: scroll;
  height: 100vh;
  width: 100vw
}

.park-box {
  padding-left: 40px;
}

.park-box-image {
  height: 20vh;
  width: 30vw;
  min-height: 300px;
  object-fit: contain;
}

.map {
  height: 20vh;
  width: 30vw;
  min-height: 300px;
}

.comment-show {

  padding: 40px;
}